.footer{
    position: fixed;
    width: 100%;       
    background: grey;
    color: #fff;
    bottom: 0;
    padding: 3px;
    height: 100px;
}
.footer-text{
    text-align: center;
    color: black;
}